<div class="flx-widget-typo">
    <section class="main-widget-data">

Tweets for the day: {{tweet_cnt}}
<hr>


{{#tweets }}
<img src="{{profileImageUrl}}">
{{userName}} 
{{text}} 
<hr>
{{/tweets }}



    </section>
</div>
